/* Reset simples */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile first */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #111;
  line-height: 1.5;
}
