/* Header.css */

.header {
  width: 100%;
  background: #4A8BDF; 
  padding: 1rem;
  border-bottom: 2px solid #A0006D; /* azul royal */
}

.header-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #EFFAFD; /* azul claro */
}

.nav a {
  color: #EFFAFD; /* azul claro */
  margin-left: 20px;
  text-decoration: none;
  font-size: 1rem;
}

.nav a:hover {
  color: #A0006D; /* berinjela */
  text-decoration: underline;
}
