.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  width: 100%;
  background-color: #4A8BDF; /* azul-royal */
  padding: 1.2rem 0;
  transition: all 0.3s ease-in-out;
}

.header.scrolled {
  padding: 0.6rem 0;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.header-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #EFFAFD;
}

.nav a {
  color: #EFFAFD;
  margin-left: 20px;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.nav a:hover {
  color: #A0006D;
}
