.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  width: 100%;
  background-color: #4A8BDF; /* azul-royal */
  padding: 1.2rem 0;
  transition: all 0.3s ease-in-out;
}

.header.scrolled {
  padding: 0.6rem 0;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.header-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #EFFAFD;
}

.nav a {
  position: relative;
  color: #EFFAFD;
  margin-left: 20px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 4px;
  transition: color 0.2s ease;
}

/* underline animado */
.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #A0006D; /* berinjela */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav a:hover {
  color: #A0006D;
}

.nav a:hover::after {
  transform: scaleX(1);
}
