.header {
  width: 100%;
  background-color: #4A8BDF; /* azul-royal */
  padding: 1rem;
  border-bottom: 2px solid #A0006D; /* berinjela sutil */
}

.header.scrolled {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.header-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #EFFAFD; /* azul-claro */
}

.nav a {
  color: #EFFAFD;
  margin-left: 20px;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.2s ease-in-out;
}

.nav a:hover {
  color: #A0006D; /* berinjela */
}
