.footer {
  padding: 2rem 1.5rem;
  background-color: #355fa8; /* azul-royal mais escuro */
  color: #EFFAFD;
  text-align: center;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-logo {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.footer-text {
  font-size: 0.95rem;
  margin-bottom: 1rem;
  opacity: 0.9;
}

.footer-copy {
  font-size: 0.85rem;
  opacity: 0.75;
}
